{% if settings.ajax_cart_method == "drawer" %}
	<div id="cartDrawer" class="drawer drawerRight">
		<div class="drawer__header jsDrawerClose">
			<span class="drawer__title">{{ 'cart.general.title' | t }}</span>
			<div class="drawer__close">
				<i class="icon close-icon">
					<img src="{{ 'close-icon--dark.svg' | asset_url }}" width="18" height="18">
				</i>
			</div>
		</div>
		<div id="cartContainer"></div>
	</div>
{% endif %}