{% if settings.ajax_cart_method == "drawer" %}
	<div id="cartDrawer" class="drawer drawerRight">
		<div class="drawer__header jsDrawerClose">
			<span>{{ 'cart.general.title' | t }}</span>
			<div class="drawer__close">
				<i class="icon close-icon"></i>
			</div>
		</div>
		<div id="cartContainer"></div>
	</div>
{% endif %}