{% if shop.customer_accounts_enabled %}
	<div class="customer__links">
	{% if customer %}
		<a href="/account">My Account</a>
		{% if settings.enable_wishlist %}
		<a href="/pages/wish-list" title="My Wishlist">My Wishlist</a>
		{% endif %}
	{% else %}
		{{ 'Login' | customer_login_link }}
		{% if shop.customer_accounts_optional %}
			<span class="or">/</span>
			{{ 'Create an account' | customer_register_link }}
		{% endif %}
	{% endif %}
	</div>
{% endif %}